body {
  background: linear-gradient(45deg, #2b34fe, #aa3dfd);
  height: 100vh;
}

.trivia-container {
  width:90%;
}

.trivia-animation-container {
  position: relative; 
  width: 100%;
}

.trivia-question-animation {
  position: absolute; 
  width: 100%;
}

.ant-spin .ant-spin-dot-item{
  background-color: white;
}

.button {
  border: 1px solid white;
}